<div class="card mb-0 py-3 px-5">
  <div class="row g-0 d-flex align-items-center" style="height: 300px;">
    <div class="col-md-8">
      <div class="card-body pt-0">
        <h5 class="card-title">The First Heading <span class="text-secondary">Will Catch Your Eye</span></h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row g-0 justify-content-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLphRaF3hS_d89lARjagpIbCyj0PqG1xVcOg&s" class="img-fluid rounded-circle" alt="Braking bad" style="height: 200px; width: 200px;">
      </div>
    </div>
  </div>
</div>
