
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">The First Heading <span class="text-secondary">Will catch your eye</span></h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing, elit proin convallis ut nisi sed, iaculis fringilla dictum morbi felis.</p>
        </div>
      </div>
      <div class="col-md-4">
    <div class="row g-0">
        <img src="https://www.xtrafondos.com/wallpapers/walter-white-de-breaking-bad-3698.jpg" class="img-fluid rounded-circle mt-4 pe-3" alt="Braking bad">
      </div>
    </div>
  </div>
