<div class="card px-5 mb-0">
    <div class="row g-0" style="height: 300px;">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img src="https://media.istockphoto.com/id/1422478091/es/foto/primer-plano-de-las-manos-en-el-teclado-de-una-computadora-port%C3%A1til.jpg?s=612x612&w=0&k=20&c=Tk5-CsgsGWbibzK4Q1vnzPJoBuETWXpghmtdPNxqBQw=" class="img-fluid rounded-circle" alt="mano y un teclado" style="height: 220px; width: 220px;">
      </div>
      <div class="col-md-8 pt-4">
        <div class="card-body">
          <h4 class="card-title">The second heading <span class="text-secondary">Is Pretty Cool Too.</span></h4>
          <p class="card-text">Urna vehicula mauris imperdiet mus dictumst purus integer massa class fusce, sollicitudin tempor tellus cum mattis est praesent nec cras, sed fringilla lacinia dignissim dapibus habitant at lacus vel.</p>
        </div>
      </div>
    </div>
  </div>